# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
build/
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# STM32
tinyML/Debug/
tinyML/.settings/
*.launch
*.elf
*.bin
*.hex
*.map
*.list
*.su
*.d
*.o
*.cyclo
